@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
*{font-family:Montserrat,sans-serif;font-size:11px}a{color:#000;text-decoration:none}.content-part{align-content:flex-start;display:flex;flex-direction:row;flex-wrap:wrap;flex-wrap:nowrap}.content-part .sidebar{border-right:1px solid #5f6368;flex-basis:20%;padding:10px;width:300px}.content-part .sidebar ul li{font-weight:700;list-style:none;padding:5px}.content-part .sidebar ul li a{text-decoration:none}.content-part .sidebar ul li a:hover{color:#e91e63}.content-part .main-content{flex-basis:80%;padding:10px}table{font-family:monospace;font-size:11px}table tr{vertical-align:middle}
